<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">BALLESTAS <span class="text-danger">BENI</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto fw-semibold">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" style="cursor: pointer;">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nosotros" style="cursor: pointer;">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-danger text-white ms-lg-3 px-3" href="tel:+34900000000">📞 Llamar ahora</a>
        </li>
      </ul>
    </div>
  </div>
</nav>